:root {
    --primary0: #ECEFF1;
    --primary1: #CFD8DC;
    --primary2: #B0BEC5;
    --primary3: #90A4AE;
    --primary4: #78909C;

    --secondary1: #FFCC80;
    --secondary2: #FFB74D;
    --secondary3: #FFA726;
    --secondary4: #FF9100;
}
