@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap");

@font-face {
  font-family: Optimistic Display;
  src: url("../fonts/Optimistic_Display_W_Lt.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Optimistic Display;
  src: url("../fonts/Optimistic_Display_W_Md.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Optimistic Display;
  src: url("../fonts/Optimistic_Display_W_Bd.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary0: #eceff1;
  --primary1: #cfd8dc;
  --primary2: #b0bec5;
  --primary3: #90a4ae;
  --primary4: #78909c;

  --secondary1: #ffcc80;
  --secondary2: #ffb74d;
  --secondary3: #ffa726;
  --secondary4: #ff9100;

  --error0: #fd4646;
}

html {
  font-family: 'Optimistic Display', sans-serif;
	font-weight: 300;
}
